@font-face {
    font-family: NotoSefif;
    src: url("font/NotoSerifTC-Regular.otf");
}
@font-face {
    font-family: EduKai;
    src: url("font/edukai-4.0.ttf");
}
@font-face {
    font-family: Geist;
    src: url("font/Geist-Regular.otf");
}